:root{
    --fundo: #B22222;
    --cartao-frente: #696969;
    --cartao-verso: #FFDEAD;
    --destaque: #FFFF00;
    --preto: #000000;
    --branco: #ffffff;
}

body{
  background-color: var(--fundo);

}

footer{
  background-color: var(--preto);
  position: fixed;
  bottom: 0;
  color: var(--branco);
  width: 100%;
  text-align: center;
}